<h1>Hi! Please confirm your email!</h1>

<p>
    Bienvenue sur Sécurity Response , Vous pouvez confirmer votre adresse mail en clquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    Ce lien expires dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Congratulations!
</p>
