{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}

	<main>
		<div class="container">
			<div class="d-flex flex-column flex-md-row">
				<div class="d-flex mt-4 mx-auto">

					<section class="text-center container mt-4">
						<div class="d-flex">
							<div class="mx-auto">
								<h1 class="fw-bold">Nous Contacter</h1>

									<form class="contact">      		
										<div class="separation"></div>
											<div class="corps-formulaire">
												<div class="gauche">
													<div class="groupe">
														<label>Votre Prénom</label>
														<input type="text" autocomplete="off" />
														<i class="icone fas fa-user"></i>
													</div>
													<div class="groupe">
														<label>Votre adresse e-mail</label>
														<input type="text" autocomplete="off" />
														<i class="icone fas fa-envelope"></i>
													</div>
													<div class="groupe">
														<label>Votre téléphone</label>
														<input type="text" autocomplete="off" />
														<i class="icone fas fa-mobile"></i>
													</div>
												</div>

												<div class="droite">
													<div class="groupe">
														<label>Message</label>
														<textarea placeholder="Saisissez ici..."></textarea>
													</div>
												</div>
											</div>

										<div class="pied-formulaire" align="center">
											<button>Envoyer le message</button>
										</div>
									</form>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</main>
	{% endblock %}
