{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}

	<main>
		<div class="contact-block">
			<form class="contact">
				<h1>Contactez-nous</h1>      		
				<div class="separation"></div>
					<div class="body-form">
						<div class="left">
							<div class="group">
								<label>Votre Prénom</label>
								<input type="text" autocomplete="off" />
								<i class="fas fa-user"></i>
							</div>
							<div class="group">
								<label>Votre adresse e-mail</label>
								<input type="text" autocomplete="off" />
								<i class="fas fa-envelope"></i>
							</div>
							<div class="group">
								<label>Votre téléphone</label>
								<input type="text" autocomplete="off" />
								<i class="fas fa-mobile-alt"></i>
							</div>
						</div>

						<div class="right">
							<div class="group">
								<label>Message</label>
								<textarea placeholder="Saisissez ici..."></textarea>
							</div>
						</div>
					</div>

				<div class="footer-form" align="center">
					<button>Envoyer le message</button>
				</div>
			</form>
			</div>			
		</main>
	{% endblock %}
