{% extends 'base.html.twig' %}

{% block body %}
{% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}
<main>

        <section class="py-5 text-center container mt-">
            <div class="d-flex py-lg-5" id="home-top">
                <div class="col-lg-6 col-md-8 mx-auto" id="home-top-left">
                    <h1 class="fw-bold text-start">Les experts en sécurité informatique proches de chez vous</h1>
                    <p class="text-start">Security Response vous permet d'améliorer la sécurité de votre système d'information en vous proposant des experts proches de votre entreprise. <br>
                    Entrez le nom d'un ville pour trouvez dès maintenant des professionels compétants pour vous aider.</p>
                    <form class="d-flex" method="GET" action="/entreprises">
                        <input name="searchEnterprise" class="form-control me-2" type="search" placeholder="Entrez une ville" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Chercher</button>
                    </form>
                    
                </div>
            
             <img src="./img/security-concept.png" alt="">

            </div>
        </section>

        <section class="py-5 text-center container mt-">
            <div class="d-flex" id="home-register">
                <div class="col-lg-6 col-md-8 " id="home-register-left">
                    <h3 class="fw-bold text-start">Protégez-vous des attaques en vous inscrivant sur la plateforme</h3>                    
                </div>
            
                <form class="d-flex">
                    <button class="btn btn-outline-primary" type="submit">Inscription</button>
                </form>

            </div>
        </section>
        
        
        <div class="album py-5 ">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm border border-5">
                            <h4 class="text-center">Mobilisez des experts proches de chez vous</h4>
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, ea optio. Dolores vero velit eos voluptate illo omnis voluptates, voluptatem beatae optio eius! Vitae debitis maxime est nostrum. Numquam, veritatis.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="card shadow-sm border border-5">
                            <h4 class="text-center">Choisissez les professionnels en charge de votre cybersécurité</h4>
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, ea optio. Dolores vero velit eos voluptate illo omnis voluptates, voluptatem beatae optio eius! Vitae debitis maxime est nostrum. Numquam, veritatis.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm border border-5">
                            <h4 class="text-center">Recrutez des talents</h4>
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, ea optio. Dolores vero velit eos voluptate illo omnis voluptates, voluptatem beatae optio eius! Vitae debitis maxime est nostrum. Numquam, veritatis.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </main>
    {# Bloc destiné à recevoir le javascript spécifique à la page #}
    {% block javascripts %}
   
    {% endblock %}
{% endblock %}
