{% extends 'base.html.twig' %}

{% block title %}L'équipe Security Response{% endblock %}

{% block body %}

<main>
    <div class="container">
        <div class="d-flex flex-column flex-md-row">
            <div class="d-flex mt-4 text-center mx-auto">
        
                <section class="text-center container mt-4">
                    <div class="d-flex">
                        <div class="mx-auto">
                            <h1 class="fw-bold">L'équipe Security Response</h1>  
                            
                            <div class="d-flex flex-column flex-md-row mt-5">

                                <div class="team border me-3">                                                   
                                    <img src="" class="rounded float-start" alt"">
                                        <h2>Guerric</h2>
                                            <p>Product Owner</p>
                                </div>
                                <div class="team border me-3">                                                   
                                    <img src="" class="rounded float-start" alt"">
                                        <h2>Mathieu</h2>
                                            <p>Référent technique et Git master</p>
                                </div>
                                <div class="team border me-3">                                                   
                                    <img src="" class="rounded float-start" alt"">
                                        <h2>Olivier</h2>
                                            <p>Scrum Master</p>
                                </div>
                                <div class="team border me-3">                                                   
                                    <img src="" class="rounded float-start" alt"">
                                        <h2>Sylvain</h2>
                                            <p>Lead dev back</p>
                                </div>
                                <div class="team border me-3">                                                   
                                    <img src="" class="rounded float-start" alt"">
                                        <h2>Cyril</h2>
                                            <p>Lead dev front</p>
                                </div>                                
                            </div>                            
                        </div>  
                    </div>                  
                </section>
            </div>
        </div>
    </div>
</main>     
{% endblock %}
