{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Etape 1{% endblock %}

{% block body %}

  <main class="container mt-3">

    <div class="password-visibility">

      <h1 class="text-center">Mot de passe oublié - Etape 1</h1>

      {{ form_start(forgotPasswordFormStep1) }}

      <div class="body-pass col-8 mx-auto">
        <div class="group-pass col-md-6 mt-5">
          {{ form_row(forgotPasswordFormStep1.email.first)}}
        </div>
        <div class="group-pass col-md-6">
          {{ form_row(forgotPasswordFormStep1.email.second)}}
        </div>
      </div>
      
      <div class="mail-form mt-5 mb-3 text-center">
        <button type="submit" class="btn btn-primary d-block mx-auto" title="Saisissez deux fois votre adresse e-mail pour recevoir un lien de récupération.">Envoyez-moi un lien de récupération</button>
      </div>

      {{ form_end(forgotPasswordFormStep1) }}
    </div>
  </main>

{% endblock %}