<p>Bonjour,</p>

<p>
  Une demande de réinitialisation du mot de passe a été effectuée il y a peu, cliquez sur ce lien dans un délai de 15 minutes pour réinitialiser votre mot de passe : <a href="{{ absolute_url(path('app_retrieve_credentials', {'id': user.id, 'token': user.forgotPasswordToken})) }}">Réinitialiser mon mot de passe</a>
</p>

<p>Passé ce délai, ce lien ne sera plus valide et il vous faudra renouveler la demande.</p>

<p>Si vous n'êtes pas l'auteur de cette demande, ignorez ce message.</p>